
@{
    ViewBag.Title = "Overview";
}
<div class="js__parallax-window" style="background: url(../Images/1920x1080/OV.jpg) 50% 0 no-repeat fixed;">
    <div class="parallax-content container" style="padding-top:150px !important;padding-bottom:150px !important;">
        <h1 class="carousel-title">Overview</h1>
        <p class="color-white" style="text-indent:0;padding-left:10px;">
            With over 40 years of knowledge and experience we undertake projects of any size
        </p>

    </div>
</div>
<!--========== PARALLAX ==========-->
<!--========== PAGE LAYOUT ==========-->
<!-- Our Exceptional Solutions -->
<div class="row" style="border:20px solid transparent;">
    <div class="container content-lg" style="padding-top:30px;padding-bottom:20px;">
        <div class="col-lg-4" style="padding-left:0;">
            <div class="promo-section-img">
                <img class="img-responsive" src="/Images/970x500/11.png" alt="Content Image" style="margin-top:30px;">
            </div>
        </div>
        <div class="col-lg-6" style="padding-top:30px;">
                <div class="clearfix">
                    <div class="ver-center">
                        <div class="ver-center-aligned">
                            <div class="promo-section-col ">

                                
                                <p style="color:#000;">
                                    We have over 40 years of knowledge and experience coupled with an extensive stock of wholly owned equipment, which allows us to undertake projects of any size. Through our highly-experienced management team and qualified labour force we are able to offer innovative cost effective access solutions for customers. 
                                </p>
                                <p style="color:#000;">
                                    We provide Industrial Solutions to various sectors such as Nuclear, Power, Oil and Gas, Marine, MOD, Offshore and Petrochemical plants.
                                </p>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="text-center">
        <h4 class="color-red">DSL Caspian – Facts & Figures</h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">
            <div class="tile-progress tile-blue">
                <div class="tile-footer">
                    <h5 style="font-size:16px;color:#fff;">
                        <span class="pct-counter" style="font-size:16px;color:#fff"> Atyrau</span>
                    </h5>
                    <span style="font-size:16px;color:#fff">Head Office</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">
            <div class="tile-progress tile-red">
                <div class="tile-footer">
                    <h5 style="font-size:16px;color:#fff;">
                        <span class="pct-counter" style="font-size:16px;color:#fff">Aktau & Aksai</span>
                    </h5>
                    <span style="font-size:16px;color:#fff">Regional Offices</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">
            <div class="tile-progress tile-blue">
                <div class="tile-footer">
                    <h5 style="font-size:16px;color:#fff;">
                        <span class="pct-counter" style="font-size:16px;color:#fff">700</span> Employees
                    </h5>
                    <span style="font-size:16px;color:#fff">Staff / Labour</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="800ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">
            <div class="tile-progress tile-red">
                <div class="tile-footer">
                    <h5 style="font-size:16px;color:#fff;">
                        <span class="pct-counter" style="font-size:16px;color:#fff">97 </span>%
                    </h5>
                    <span style="font-size:16px;color:#fff">Local Content</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">
            <div class="tile-progress tile-blue">
                <div class="tile-footer">
                    <h5 style="font-size:16px;color:#fff;">
                        <span class="pct-counter" style="font-size:16px;color:#fff">4000</span> Tonne
                    </h5>
                    <span style="font-size:16px;color:#fff">Scaffold in Region</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">
            <div class="tile-progress tile-red">
                <div class="tile-footer">
                    <h5 style="font-size:16px;color:#fff;">
                        <span class="pct-counter" style="font-size:16px;color:#fff">$1.000.000</span>
                    </h5>
                    <span style="font-size:16px;color:#fff">in equipment Asset</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">
            <div class="tile-progress tile-blue">
                <div class="tile-footer">
                    <h5 style="font-size:16px;color:#fff;">
                        <span class="pct-counter" style="font-size:16px;color:#fff">$1.800.000</span>
                    </h5>
                    <span style="font-size:16px;color:#fff">planned asset investment</span>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Our Exceptional Solutions -->

    <div class="content-lg container" style="padding-bottom:30px;padding-top:0;">

        <div class="center wow fadeInDown animated margin-b-50" style="visibility: visible; animation-name: fadeInDown;">
            <h4 class="color-red" style="margin-bottom:0;">Our Services</h4><hr />
        </div>

        <div class="row  margin-b-50">
            <div class="features">
                    <div class="row">
                        <a href="@Url.Action("Scaffolding", "Home")">
                            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

                                <div class="feature-wrap">
                                    <div class="col-sm-2" style="padding:0;">
                                        <i class="fa fa-object-ungroup service-icon"></i>
                                    </div>
                                    <div class="col-sm-9 margin-l-10" style="padding:0;">
                                        <h3 class="color-blue fweight-400">Scaffolding</h3>
                                        <p style="text-indent:0;">We have a fully trained and experienced work force, we carry a large stock of tube and fitting materials.</p>
                                    </div>
                                    </div>

                            </div>
                        </a><!--/.col-md-4-->

                        <a href="@Url.Action("Rope_access", "Home")">
                            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="800ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInDown;">

                                <div class="feature-wrap">
                                    <div class="col-sm-2" style="padding:0;">
                                        <i class="fa fa-google-wallet service-icon"></i>
                                    </div>
                                    <div class="col-sm-9 margin-l-10" style="padding:0;">
                                        <h3 class="color-blue fweight-400">Rope access</h3>
                                        <p style="text-indent:0;">We have successfully completed projects both on – and offshore in Karabatan and Kachagan.</p>
                                    </div>
                                    </div>

                            </div>
                        </a><!--/.col-md-4-->

                        <a href="@Url.Action("Industrial_cleaning", "Home")">
                            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 800ms; animation-name: fadeInDown;">

                                <div class="feature-wrap">
                                    <div class="col-sm-2" style="padding:0;">
                                        <i class="fa fa-shower service-icon"></i>
                                    </div>
                                    <div class="col-sm-9 margin-l-10" style="padding:0;">
                                        <h3 class="color-blue fweight-400">Industrial cleaning</h3>
                                        <p style="text-indent:0;">Our work varies from office and client accommodation cleaning through to industrial cleans prior to site shutdowns</p>
                                    </div>
                                    </div>

                            </div>
                        </a><!--/.col-md-4-->
                    </div>
                    <div class="row">
                        <a href="@Url.Action("Insulation", "Home")">
                            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 900ms; animation-name: fadeInDown;">

                                <div class="feature-wrap">
                                    <div class="col-sm-2" style="padding:0;">
                                        <i class="fa fa-clone service-icon"></i>
                                    </div>
                                    <div class="col-sm-9 margin-l-10" style="padding:0;">
                                        <h3 class="color-blue fweight-400">Insulation</h3>
                                        <p style="text-indent:0;">A full range of insulation applications is offered, including mineral fibres, cellular glass, calcium silicate, polyurethane and phenolic foams.</p>
                                    </div>
                                    </div>

                            </div>
                        </a><!--/.col-md-4-->
                        <a href="@Url.Action("Asbestos_removal", "Home")">
                            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1000ms; animation-name: fadeInDown;">

                                <div class="feature-wrap">
                                    <div class="col-sm-2" style="padding:0;">
                                        <i class="fa fa-cut service-icon"></i>
                                    </div>
                                    <div class="col-sm-9 margin-l-10" style="padding:0;">
                                        <h3 class="color-blue fweight-400">Asbestos removal</h3>
                                        <p style="text-indent:0;">We have held an Asbestos Removal license forn almost 30 years and continues to work closely with the Health and Safety Executive</p>
                                    </div>
                                    </div>

                            </div>
                        </a>
                        <a href="@Url.Action("Fire_protection", "Home")">
                            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1100ms; animation-name: fadeInDown;">

                                <div class="feature-wrap">
                                    <div class="col-sm-2" style="padding:0;">
                                        <i class="fa fa-free-code-camp service-icon"></i>
                                    </div>
                                    <div class="col-sm-9 margin-l-10" style="padding:0;">
                                        <h3 class="color-blue fweight-400">Fire protection</h3>
                                        <p style="text-indent:0;">Our company is a licensed UK applicator for the major cementitious and epoxy hydrocarbon fire systems.</p>
                                    </div>
                                    </div>

                            </div>
                        </a>
                    </div>
                    <div class="row">
                    <a href="@Url.Action("Protective_coating", "Home")">
                        <div class="col-md-4 col-sm-6 col-md-offset-2 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1800ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1200ms; animation-name: fadeInDown;">

                            <div class="feature-wrap">
                                <div class="col-sm-2" style="padding:0;">
                                    <i class="fa fa-paint-brush service-icon"></i>
                                </div>
                                <div class="col-sm-9 margin-l-10" style="padding:0;">
                                    <h3 class="color-blue fweight-400">Protective coating</h3>
                                    <p style="text-indent:0;">Our specialises in applying Protective Coatings for industrial clients, particularly on long-term maintenance contracts and large construction sites.</p>

                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("Overview", "Home")">
                        <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="2000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1300ms; animation-name: fadeInDown;">

                            <div class="feature-wrap">
                                <div class="col-sm-2" style="padding:0;">
                                    <i class="fa fa-eye service-icon"></i>
                                </div>
                                <div class="col-sm-9 margin-l-10" style="padding:0;">
                                    <h3 class="color-blue fweight-400">View all</h3>
                                    <p style="text-indent:0;">We provide Industrial Solutions to various sectors such as Nuclear, Power, Oil and Gas, Marine, MOD, Offshore and Petrochemical plants.</p>

                                </div>
                                </div>
                        </div>
                    </a>
                        </div><!--/.col-md-4-->
                </div><!--/.services-->
        </div><!--/.row-->


        <div class="get-started center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h4 class="text-center color-red">Have some questions?</h4>
            <hr style="margin-top:0; border-top:2px solid #b0b0b0;" />
            <p class="text-center">Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo enim ad minim veniam,quis.</p>
            <div class="text-center">
                <h4 class="color-red"><a href="@Url.Action("Contacts", "Home")" class="color-red">Contact us</a></h4>
            </div>
        </div><!--/.get-started-->
    </div>

    <!-- End Our Exceptional Solutions -->
    <!-- Clients -->
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <!-- Swiper Clients -->
            <div class="swiper-slider swiper-clients">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/01.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/02.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/03.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/04.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/05.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/06.png" alt="Clients Logo">
                    </div>
                </div>
                <!-- End Swiper Wrapper -->
            </div>
            <!-- End Swiper Clients -->
        </div>
    </div>
    <!-- End Clients -->

