@{
    ViewBag.Title = DSL.Resources.Resource.HomeServiceTitleProc;
}

<!--========== SLIDER ==========-->
<div class="js__parallax-window1 main-banner" style="background: url('../../Images/1920x1080/Proc.jpg') 50% 0 no-repeat fixed;">
    <div class="parallax-content container" style="padding-top:105px !important;padding-bottom:90px !important;">
        <div class="col-md-10 carousel-fx">
            <h1 class="carousel-title wow fadeInUp animated" data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="1000ms" style="text-shadow: 1px 3px 5px #000;margin-bottom:0;">
            @DSL.Resources.Resource.ProcBannerTitle1<br /> @DSL.Resources.Resource.ProcBannerTitle2</h1>
            <hr style="border-color:#e74336;" />
            <p class="color-white wow fadeInUp animated" data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="1500ms" style="text-shadow: 1px 2px 5px #000;padding-left:5px;font-size:18px;color:#fff!important;">
            @DSL.Resources.Resource.ProcBannerText </p>
            <a href="@Url.Action("contacts", "Home")">
                <div class="btn-theme btn-theme-sm btn-white-brd text-uppercase wow fadeIn animated " data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="2000ms">
            @DSL.Resources.Resource.SliderContactButton</div>
            </a>
        </div>
    </div>
</div>
<!--========== SLIDER ==========-->
<!--========== PAGE LAYOUT ==========-->
<!-- Latest Products -->
<div class="content-lg container">
    <div class="row">
    <div class="col-sm-12" style="margin-bottom:40px">
        <h3 class="text-center color-red">@DSL.Resources.Resource.HomeServiceTitleProc</h3>
        <hr style="border-top:1px solid #b0b0b0;margin-bottom:20px;" />
        <div class="col-sm-12 text-center" style="padding:0;">
            <p style="margin-bottom:10px;" >
                @DSL.Resources.Resource.Proc1SectionTextBold 
                @DSL.Resources.Resource.Proc1SectionText1
                @DSL.Resources.Resource.Proc1SectionText2
                @DSL.Resources.Resource.Proc1SectionText3
            </p>
        </div>
    </div>

     </div>
    <div class="col-md-12"><h3 class="text-center color-red">
        @DSL.Resources.Resource.ProcBoxesTitleMain </h3><hr style="border-top:1px solid #b0b0b0;margin-bottom:20px;" /></div>
    <p class="text-center" style="text-indent:0;margin-bottom:10px;">
       @DSL.Resources.Resource.ProcBoxesTextMain
    </p>

    <div class="row margin-b-10">
    <div class="col-md-12 col-sm-12 image-blbl" style="background-image:url(~/Images/1221.png)">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" .1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;margin-top:20px;border-radius:8px; background:#f0f0f0;padding:10px;">
                    <h4 class="text-center color-red">
                    @DSL.Resources.Resource.Proc1BoxTitle</h4>
                    <p>
                        <ul>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                  @DSL.Resources.Resource.Proc1BoxLi1  
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                  @DSL.Resources.Resource.Proc1BoxLi2  
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                  @DSL.Resources.Resource.Proc1BoxLi3  
                                </span>
                            </li>
                        </ul>
                    </p>
                </div>

                <div class="col-md-12 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" .4s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;margin-top:5%;border-radius:8px; background:#f0f0f0;padding:10px;">
                    <h4 class="text-center color-red">
                     @DSL.Resources.Resource.Proc2BoxTitle</h4>
                    <p>
                        <ul>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc2BoxLi1   
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc2BoxLi2   
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc2BoxLi3   
                                </span>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="col-md-12 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" .7s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;margin-top:20px;border-radius:8px; background:#f0f0f0;padding:20px">

                    <h4 class="text-center color-red">
                    @DSL.Resources.Resource.Proc3BoxTitle1     </h4>
                    <div class="col-md-10 col-md-offset-1">
                        <p>
                            <ul>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                        @DSL.Resources.Resource.Proc3BoxLi1
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                     @DSL.Resources.Resource.Proc3BoxLi2
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                     @DSL.Resources.Resource.Proc3BoxLi3
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                     @DSL.Resources.Resource.Proc3BoxLi4
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                    @DSL.Resources.Resource.Proc3BoxLi5
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                     @DSL.Resources.Resource.Proc3BoxLi6
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                    @DSL.Resources.Resource.Proc3BoxLi7
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                     @DSL.Resources.Resource.Proc3BoxLi8
                                    </span>
                                </li>
                                <li style="color:red;">
                                    <span style="font-size:15px;color:#585858;">
                                      @DSL.Resources.Resource.Proc3BoxLi9
                                    </span>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="col-md-12 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" 1.3s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;margin-top:20px;border-radius:8px; background:#f0f0f0;padding:10px;">
                    <h4 class="text-center color-red">
                    @DSL.Resources.Resource.Proc4BoxTitle1</h4>
                    <p>
                        <ul>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc4BoxLi1
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc4BoxLi2
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc4BoxLi3
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc4BoxLi4
                                </span>
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-12 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" 1.6s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;margin-top:20px;border-radius:8px; background:#f0f0f0;padding:10px;">
                    <h4 class="text-center color-red">
                     @DSL.Resources.Resource.Proc5BoxTitle</h4>
                    <p>
                        <ul>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc5BoxLi1
                                </span>
                            </li>
                            <li style="color:red;">
                                <span style="font-size:15px;color:#585858;">
                                 @DSL.Resources.Resource.Proc5BoxLi2
                                </span>
                            </li>
                        </ul>
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-md-offset-4 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" .7s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;margin-top:20px;border-radius:8px; background:#f0f0f0;padding:10px;">
            <h4 class="text-center color-red">
             @DSL.Resources.Resource.Proc6BoxTitle</h4>
            <p> <div class="col-md-8 col-md-offset-2">
    <ul>
        <li style="color:red;">
            <span style="font-size:15px;color:#585858;">
            @DSL.Resources.Resource.Proc6BoxLi1

            </span>
        </li>
    </ul>
</div>
            </p>
        </div>
        </div>
    </div>
    <div class="col-sm-12 center-block" style="margin-bottom:40px;margin-top:30px;">
        <h3 class="text-center color-red">
        @DSL.Resources.Resource.Proc2SectionTitle</h3>
        <hr style="border-top:1px solid #b0b0b0;margin-bottom:20px;" />
        <p style="text-indent:0;margin-bottom:0;" class="text-center">
            <div class="col-md-10 col-md-offset-1 margin-b-40 text-center">
            @DSL.Resources.Resource.Proc2SectionText
            </div><div class="row margin-b-20">
    <div class="col-md-2 col-md-offset-3 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" .1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><img class="img-responsive" src="~/Images/Procurement/Paroc.png" /></div>
    <div class="col-md-2 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" .4s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;"><img class="img-responsive" src="~/Images/Procurement/Sealumet.png" /></div>
    <div class="col-md-2 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" .7s " style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><img class="img-responsive" src="~/Images/Procurement/Inspired.png" /></div>
</div>                 
    <div class="col-md-2 col-md-offset-3 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" 1s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;"><img class="img-responsive" src="~/Images/Procurement/First.png" /></div>
    <div class="col-md-2 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" 1.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><img class="img-responsive" src="~/Images/Procurement/Termobile.png" /></div>
    <div class="col-md-2 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=" 1.6s" style="visibility: visible; animation-delay: 0.35s; animation-name: fadeInUp;"><img class="img-responsive" src="~/Images/Procurement/XIOM.png" /></div>

</p>

    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <h3 class="color-red text-center" style="margin-top:15px;">
                @DSL.Resources.Resource.Proc3SectionContact</h3>
                <hr>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;margin-bottom:40px">
            <div class="col-sm-12" style="padding:0;">
                <p style="margin-bottom:10px;">
                 @DSL.Resources.Resource.Proc3SectionSideText1<br />
                 @DSL.Resources.Resource.Proc3SectionSideText11</p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1" style="margin-bottom:40px">
                <div class="wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <span class="text-uppercase margin-l-20 span-fx color-blue" style="font-size:16px!important;font-weight:500!important;margin-bottom:20px;">
                    @DSL.Resources.Resource.Proc3SectionContactName</span>
                    <ul class="list-unstyled contact-list">
                        <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="tel:+77122763747" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-phone" style="font-size: 18px;"></i> &nbsp;+7(712)276-37-47 ext.118</a></li>
                        <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="tel:+77017661468" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-mobile-phone" style="font-size: 22px;"></i> &nbsp;  +7-701-766-14-68</a></li>
                        <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="mailto:Aibat.Yesset@dslcaspian.com" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-envelope" style="font-size: 16px;"></i>&nbsp;  Aibat.Yesset@dslcaspian.com </a></li>
                    </ul>
                </div>
            </div>

        </div>
    <h3 class="text-center color-red">
    @DSL.Resources.Resource.OurCertificates</h3>

    <hr style="margin-bottom:30px;" />
    <div id="portfolio" class="portfolio-3 row">
        <div class="portfolio-item HSA" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ1" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;"><i class="fa fa-file-pdf-o"></i><br />@DSL.Resources.Resource.PDFCanvasText</p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ1">
                            <img alt="" src="~/Images/Proc docs/First.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ1">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- 2 cert-->
        <div class="portfolio-item HSA" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ2" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;"><i class="fa fa-file-pdf-o"></i><br />@DSL.Resources.Resource.PDFCanvasText</p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ2">
                            <img alt="" src="~/Images/Proc docs/Inspired.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ2">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 cert-->
        <div class="portfolio-item HSA" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ3" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;"><i class="fa fa-file-pdf-o"></i><br />@DSL.Resources.Resource.PDFCanvasText</p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ3">
                            <img alt="" src="~/Images/Proc docs/Paroc.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ3">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- 4 cert-->
        <div class="portfolio-item tra" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ4" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;"><i class="fa fa-file-pdf-o"></i><br />@DSL.Resources.Resource.PDFCanvasText</p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ4">
                            <img alt="" src="~/Images/Proc docs/Sealumet.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ4">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="portfolio-item fp" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ5" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;"><i class="fa fa-file-pdf-o"></i><br />@DSL.Resources.Resource.PDFCanvasText</p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ5">
                            <img alt="" src="~/Images/Proc docs/Termobile.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ5">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="HSEQ1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <object data="~/PDF/letter of Authorization.pdf#view=Fit" type="application/pdf" class="lic">
                            <p>
                               @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/letter of Authorization.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                            </p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="HSEQ2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <object data="~/PDF/Inspired Noise.pdf#view=Fit" type="application/pdf" class="lic">
                            <p>
                                @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/Inspired Noise.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                            </p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="HSEQ3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <object data="~/PDF/Paroc.pdf#view=Fit" type="application/pdf" class="lic">
                            <p>
                               @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/Paroc.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                            </p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="HSEQ4" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <object data="~/PDF/Sealumet.pdf#view=Fit" type="application/pdf" class="lic">
                            <p>
                                @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/Sealumet.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                            </p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="HSEQ5" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <object data="~/PDF/Thermobile.pdf#view=Fit" type="application/pdf" class="lic">
                            <p>
                               @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/Thermobile.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                            </p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
            </div>
        </div>

    </div>
</div>
<!-- End Latest Products -->
