
@{
    ViewBag.Title = @DSL.Resources.Resource.ServicesServicetab6Title;
}
<div class="js__parallax-window1 main-banner2" style="background: url('../../Images/1920x1080/PC2.jpg') 50% 0 no-repeat fixed;">
    <div class="parallax-content container" style="padding-top:120px !important;padding-bottom:100px !important;">
        <div class="col-md-9 carousel-fx">
            <h1 class="carousel-title wow fadeInUp animated" data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="1000ms" style="text-shadow: 1px 3px 5px #000;color:#fff;margin-bottom:0;">
                @DSL.Resources.Resource.PCBannerTitle
            </h1>
            <hr style="border-color:#e74336;margin-top:0;" />
            <p class="color-white wow fadeInUp animated" data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="1500ms" style="text-shadow: 1px 2px 5px #000;padding-left:5px;font-size:18px;color:#fff!important;">
                @DSL.Resources.Resource.PCBannerText
            </p>
            <a href="@Url.Action("contacts", "Home")">
                <div class="btn-theme btn-theme-sm btn-white-brd text-uppercase wow fadeInDown animated" data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="2000ms">
                    @DSL.Resources.Resource.SliderContactButton
                </div>
            </a>
        </div>
    </div>
</div>
<!--========== PARALLAX ==========-->
<!--========== PAGE LAYOUT ==========-->
<div class="row">
    <div class="container content">
        <h3 class="color-red text-center" style="margin-top:30px;">
            @DSL.Resources.Resource.PC1SectionTitle
        </h3>
        <hr class="margin-b-0" />
        <div class="col-md-6" style="padding-left:0;">
            <div class="promo-section-img wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="0ms">
                <img class="img-responsive" src="/Images/970x500/PC.jpg" alt="Content Image" style="margin-top:30px;">
            </div>
        </div>
        <div class="col-md-6" style="padding-top:30px;">
            <div class="clearfix">
                <div class="ver-center">
                    <div class="ver-center-aligned">
                        <div class="promo-section-col wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="400ms">
                            <p style="margin-bottom:0;">
                                <span class="color-fx" style="font-size:16px;font-weight:500">
                                    @DSL.Resources.Resource.PC1SectionTextBold
                                </span>
                                @DSL.Resources.Resource.PC1SectionText1
                                <div class="col-md-6">
                                    <ul>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText2
                                            </span>
                                        </li>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText3
                                            </span>
                                        </li>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText4
                                            </span>
                                        </li>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText5
                                            </span>
                                        </li>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText6
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>

                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText7
                                            </span>
                                        </li>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText8
                                            </span>
                                        </li>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText9
                                            </span>
                                        </li>
                                        <li style="color:red;">
                                            <span style="font-weight:400;font-size:15px;color:#585858;">
                                                @DSL.Resources.Resource.PC1SectionText10
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12" style="padding:0">
                                    <div class="wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <h3 class="color-red" style="color:#737373;font-size:14px"><span class="text-uppercase margin-l-0 span-fx color-blue" style="font-size:16px!important;font-weight:500!important;">
                                            @DSL.Resources.Resource.ServicesPagesContactName</span>@DSL.Resources.Resource.ServicesPagesContactPosition</h3>
                                        <ul class="list-unstyled contact-list">
                                            <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;">
                                                <a href="tel:+77771045060" class="footer-list-link fweight-300" style="font-size:16px;">
                                                    <i class="fa fa-mobile-phone" style="font-size: 18px;"></i> &nbsp;  +7-777-104-50-60
                                                </a>
                                            </li>
                                            <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;">
                                                <a href="mailto:Farkhat.Kaliyev@dslcaspian.com" class="footer-list-link fweight-300" style="font-size:16px;">
                                                    <i class="fa fa-envelope" style="font-size: 16px;"></i>&nbsp;  Farkhat.Kaliyev@dslcaspian.com
                                                </a>
                                            </li>
                                        </ul>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="content-lg container" style="padding-bottom:30px;padding-top:20px;">
    <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
        <h3 class="color-red text-center">
          @DSL.Resources.Resource.WhyCustomerTitle
        </h3>
        <hr style="margin-top:0;" />
    </div>


    <div class="features">
        <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

            <div class="feature-wrap" style="margin:0;">

                <i class="fa fa-building-o service-icon1"></i>
                <h4 style="margin-top:18px;font-size:18px;">
                 @DSL.Resources.Resource.PCChoose1
                </h4>

            </div>

        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

            <div class="feature-wrap">

                <i class="fa fa-paint-brush service-icon1"></i>
                <h4 style="margin-top:18px;font-size:18px;">
                 @DSL.Resources.Resource.PCChoose2  
                </h4>

            </div>

        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

            <div class="feature-wrap">

                <i class="fa fa-check-circle service-icon1"></i>
                <h4 style="margin-top:18px;font-size:18px;">
                 @DSL.Resources.Resource.PCChoose3
                </h4>

            </div>

        </div>
        <!--/.col-md-4-->
        <!--/.col-md-4-->
    </div><!--/.services-->
</div><!--/.row-->
<!-- Our Exceptional Solutions -->
<div class="container-full-width">
    <div class="js__parallax-window" style="background: url('../../Images/Parallax/PC.jpg') 50% 0 no-repeat fixed;padding-bottom:80px;padding-top:40px">
        <div class="parallax-content container">
            <div class="container">

                <p class="color-white text-center" style="text-shadow: 0 0 18px #040404;font-size:40px;width:100%;margin-bottom:0;">
                 @DSL.Resources.Resource.PCParallaxText1
                </p>
                <div class="text-center">
                    <p class="color-white text-center" style="text-shadow: 0 0 18px #040404;font-size:40px;width:100%;margin-bottom:0;">
                      @DSL.Resources.Resource.PCParallaxText2
                    </p>
                    <a href="@Url.Action("contacts", "Home")">
                        <div class="btn-theme btn-theme-sm btn-white-brd text-uppercase wow fadeInDown animated text-center" data-animation="fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" style=" ">
                         @DSL.Resources.Resource.SliderContactButton
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container content">
    <h3 class="text-center color-red">
     @DSL.Resources.Resource.OurBrochures
    </h3>

    <hr style="margin-bottom:30px;" />

    <!-- Latest Products -->
    <!-- <div class="portfolio-filter row" id="portfolio-filter2">
         <ul>
             <li class="wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="0ms"><a href="#" class="selected" data-filter="*">Show all</a></li>
             <li class="wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="400ms"><a href="#" data-filter=".HSA">Health and Safety</a></li>
             <li class="wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="800ms"><a href="#" data-filter=".coa">Coatings</a></li>
             <li class="wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="1200ms"><a href="#" data-filter=".fp">Fire protective</a></li>
             <li class="wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="1600ms"><a href="#" data-filter=".tra">Trainings</a></li>
             <li class="wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="2000ms"><a href="#" data-filter=".li">Licency</a></li>
         </ul>
     </div>
      1 cert-->
    <div id="portfolio" class="portfolio-3 row">
        <div class="portfolio-item HSA" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ1" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;">
                                    <i class="fa fa-file-pdf-o"></i><br />
                                    @DSL.Resources.Resource.PDFCanvasText
                                </p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ1">
                            <img alt="" src="~/Images/Brochures/PC.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ1" style="min-height:292px">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- 2 cert -->
        <div class="portfolio-item HSA" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ2" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;">
                                    <i class="fa fa-file-pdf-o"></i><br />
                                    @DSL.Resources.Resource.PDFCanvasText
                                </p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ2">
                            <img alt="" src="~/Images/Brochures/1.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ2">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 cert-->
        <div class="portfolio-item HSA" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ3" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;">
                                    <i class="fa fa-file-pdf-o"></i><br />
                                    @DSL.Resources.Resource.PDFCanvasText
                                </p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ3">
                            <img alt="" src="~/Images/Brochures/2.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ3">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- 4 cert -->
        <div class="portfolio-item tra" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ4" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;">
                                    <i class="fa fa-file-pdf-o"></i><br />
                                    @DSL.Resources.Resource.PDFCanvasText
                                </p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ4">
                            <img alt="" src="~/Images/Brochures/3.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ4">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="portfolio-item fp" style="max-width:214px;margin:6px 10px;">
            <div class="portfolio-border">
                <div class="portfolio-thumb">
                    <div class="section-box-twelve" style="max-height:none;">
                        <a href="*" data-toggle="modal" data-target="#HSEQ5" class="center-block">
                            <figure>

                                <p style="color:#fff!important;font-size:18px;margin-top:40%;">
                                    <i class="fa fa-file-pdf-o"></i><br />
                                    @DSL.Resources.Resource.PDFCanvasText
                                </p>

                            </figure>
                        </a>
                        <a href="*" data-toggle="modal" data-target="#HSEQ5">
                            <img alt="" src="~/Images/Brochures/4.jpg" class="img-responsive" data-toggle="modal" data-target="#HSEQ5">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center" style="margin-top:10px;font-size: 15px;font-weight: 600;color: #585858 !important;margin-bottom: 15px;text-indent: 0 !important;">@DSL.Resources.Resource.DownloadOur</p>
        </div><!-- -->
    </div>
    <div class="modal fade" id="HSEQ1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <object data="~/PDF/PC.pdf#view=Fit" type="application/pdf" class="lic">
                                <p>
                                  @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/PC.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                                </p>
                            </object>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="HSEQ2" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <object data="~/PDF/1.pdf#view=Fit" type="application/pdf" class="lic">
                                <p>
                                @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/1.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                                </p>
                            </object>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="HSEQ3" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <object data="~/PDF/2.pdf#view=Fit" type="application/pdf" class="lic">
                                <p>
                                 @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/2.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                                </p>
                            </object>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
                </div>
            </div>

        </div>
    </div>



    <div class="modal fade" id="HSEQ4" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <object data="~/PDF/3.pdf#view=Fit" type="application/pdf" class="lic">
                                <p>
                                 @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/3.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                                </p>
                            </object>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="HSEQ5" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <object data="~/PDF/4.pdf#view=Fit" type="application/pdf" class="lic">
                                <p>
                                  @DSL.Resources.Resource.ModalMobileText1 <a href="~/PDF/4.pdf">@DSL.Resources.Resource.ModalMobileText2</a>
                                </p>
                            </object>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@DSL.Resources.Resource.ModalButtonClose</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end parallax--><!--/.row-->
<!-- Our Exceptional Solutions -->
<div class="bg-color-sky-light overflow-h">

    <div class="content-lg container" style="padding-bottom:20px;padding-top:20px;">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="color-red text-center">@DSL.Resources.Resource.HomeProjectsSectionTitle</h3>
                <hr style="margin-top:0;" />
            </div>
        </div>
        <!-- Swiper Clients -->

        <div class="swiper-slider swiper-projects">
            <div class="swiper-button-prev fa fa-arrow-circle-o-left"></div>
            <div class="swiper-button-next fa fa-arrow-circle-o-right"></div>
            <!-- Swiper Wrapper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="margin-b-20">
                        <a href="@Url.Action("Projects", "Home")">
                            <img src="~/Images/970x647/KPO-1.jpg" class="img-responsive" alt="..." />
                        </a>
                    </div>
                    <a href="@Url.Action("Projects", "Home")">
                        <h4 class="color-red margin-b-0">@DSL.Resources.Resource.HomeProjectTitle1 <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">@DSL.Resources.Resource.HomeProjectSubtitle1 </span></h4>
                        <hr style="margin-top:0;" />
                        <p style=" ">@DSL.Resources.Resource.HomeProjectText1</p>
                    </a>
                </div>
                <!--2 slide-->
                <div class="swiper-slide">
                    <div class="margin-b-20">
                        <a href="@Url.Action("Projects", "Home")">
                            <img src="~/Images/970x647/NCOC.jpg" class="img-responsive" alt="..." />
                        </a>
                    </div>
                    <a href="@Url.Action("Projects", "Home")">
                        <h4 class="color-red margin-b-0">@DSL.Resources.Resource.HomeProjectTitle2<span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">@DSL.Resources.Resource.HomeProjectSubtitle2</span></h4>
                        <hr style="margin-top:0;" />
                        <p style=" ">@DSL.Resources.Resource.HomeProjectText2</p>
                    </a>
                </div>
                <!--3rd slide-->
                <div class="swiper-slide">
                    <div class="margin-b-20">
                        <a href="@Url.Action("Projects", "Home")">
                            <img src="~/Images/970x647/NCPOC.jpg" class="img-responsive" alt="..." />
                        </a>
                    </div>
                    <a href="@Url.Action("Projects", "Home")">
                        <h4 class="color-red margin-b-0">
                            @DSL.Resources.Resource.HomeProjectTitle3<span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                            @DSL.Resources.Resource.HomeProjectSubtitle3
                        </span>
                    </h4>
                    <hr style="margin-top:0;" />
                    <p style=" ">@DSL.Resources.Resource.HomeProjectText3</p>
                </a>
            </div>
            <!--4th slide-->
            <div class="swiper-slide">
                <div class="margin-b-20">
                    <a href="@Url.Action("Projects", "Home")">
                        <img src="~/Images/970x647/Tengiz-TCO.jpg" class="img-responsive" alt="..." />
                    </a>
                </div>
                <a href="@Url.Action("Projects", "Home")">
                    <h4 class="color-red margin-b-0">
                        @DSL.Resources.Resource.HomeProjectTitle4
                    <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                        @DSL.Resources.Resource.HomeProjectSubtitle4
                    </span>
                </h4>
                <hr style="margin-top:0;" />
                <p style="text-indent:0;">
                    @DSL.Resources.Resource.HomeProjectText4
            </p>
        </a>
    </div>
    <!--5th slide-->
    <div class="swiper-slide">
        <div class="margin-b-20">
            <a href="@Url.Action("Projects", "Home")">
                <img src="~/Images/970x647/sicim-demo.jpg" class="img-responsive" alt="..." />
            </a>
        </div>
        <a href="@Url.Action("Projects", "Home")">
            <h4 class="color-red margin-b-0">
                @DSL.Resources.Resource.HomeProjectTitle5
            <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                @DSL.Resources.Resource.HomeProjectSubtitle5
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText5
        </p>
    </a>
</div>
<!--6th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/ErSai1.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red margin-b-0">
            @DSL.Resources.Resource.HomeProjectTitle6
            <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                @DSL.Resources.Resource.HomeProjectSubtitle6
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText6
        </p>
    </a>
</div>
<!--7th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/ErSai2.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red margin-b-0">
            @DSL.Resources.Resource.HomeProjectTitle7
            <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                @DSL.Resources.Resource.HomeProjectSubtitle7
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText7
        </p>
    </a>
</div>
<!--8th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/ErSai3.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red margin-b-0">
            @DSL.Resources.Resource.HomeProjectTitle8
            <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                @DSL.Resources.Resource.HomeProjectSubtitle8
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText8
        </p>
    </a>
</div>
<!--9th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/ErSai4.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red margin-b-0">
            @DSL.Resources.Resource.HomeProjectTitle9
            <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                @DSL.Resources.Resource.HomeProjectSubtitle9
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText9
        </p>
    </a>
</div>
<!--10th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/PSNK.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red margin-b-0">
            @DSL.Resources.Resource.HomeProjectTitle10
            <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                @DSL.Resources.Resource.HomeProjectSubtitle10
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText10
        </p>
    </a>
</div>
<!--11th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/KCOI.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red margin-b-0">
            @DSL.Resources.Resource.HomeProjectTitle11
            <span class="text-uppercase margin-l-20 color-blue" style="font-size:13px;">
                @DSL.Resources.Resource.HomeProjectSubtitle11
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText11
        </p>
    </a>
</div>
<!--12th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/Sicim_teng.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red">
            @DSL.Resources.Resource.HomeProjectTitle12
            <span class="text-uppercase span-fx margin-l-10 color-blue">
                @DSL.Resources.Resource.HomeProjectSubtitle12
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText12
        </p>
    </a>
</div>
<!--13th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/KCOI2.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red">
            @DSL.Resources.Resource.HomeProjectTitle13
            <span class="text-uppercase span-fx margin-l-10 color-blue">
                @DSL.Resources.Resource.HomeProjectSubtitle13
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText13
        </p>
    </a>
</div>
<!--14th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/UNEX.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red">
            @DSL.Resources.Resource.HomeProjectTitle14 <span class="text-uppercase span-fx margin-l-10 color-blue">
                @DSL.Resources.Resource.HomeProjectSubtitle14
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText14
        </p>
    </a>
</div>
<!--15th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/FLEX.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red">
            @DSL.Resources.Resource.HomeProjectTitle15 <span class="text-uppercase span-fx margin-l-10 color-blue">
                @DSL.Resources.Resource.HomeProjectSubtitle15
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText15
        </p>

    </a>
</div>
<!--16th slide-->
<div class="swiper-slide">
    <div class="margin-b-20">
        <a href="@Url.Action("Projects", "Home")">
            <img src="~/Images/970x647/ISKER.jpg" class="img-responsive" alt="..." />
        </a>
    </div>
    <a href="@Url.Action("Projects", "Home")">
        <h4 class="color-red">
            @DSL.Resources.Resource.HomeProjectTitle16<span class="text-uppercase span-fx margin-l-10 color-blue">
                @DSL.Resources.Resource.HomeProjectSubtitle16
            </span>
        </h4>
        <hr style="margin-top:0;" />
        <p style="text-indent:0;">
            @DSL.Resources.Resource.HomeProjectText16
        </p>

    </a>
</div>
<!-- End Swiper Wrapper -->
</div>

<!-- End Swiper Clients -->
</div>

</div>

</div>
