
@{
    ViewBag.Title = @DSL.Resources.Resource.TrainBannerTitle1;
}
<div class="js__parallax-window1 main-banner" style="background: url('../../Images/970x970/Trai.jpg') 50% 0 no-repeat fixed;">
    <div class="parallax-content container" style="padding-top:120px !important;padding-bottom:70px !important;">
        <div class="col-md-8 text-left carousel-fx">
            <h1 class="carousel-title wow fadeIn animated" data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="1000ms" style="text-align:left;text-shadow: 1px 3px 5px #000;margin-bottom:0;">
            @DSL.Resources.Resource.TrainBannerTitle1</h1>
            <p class="color-white wow fadeIn animated" data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="1500ms" style="text-align:left;text-shadow: 1px 2px 5px #000;padding-left:10px;font-size:18px;color:#fff!important;">
                @DSL.Resources.Resource.TrainBannerText1
            </p>
            <a href="@Url.Action("contacts", "Home")">
                <div class="btn-theme btn-theme-sm btn-white-brd text-uppercase wow fadeIn animated " data-animation="FadeIn" data-wow-duration="1000ms" data-wow-delay="2000ms">
                @DSL.Resources.Resource.SliderContactButton</div>
            </a>
        </div>
    </div>
</div>
<!--========== PARALLAX ==========-->
<!--========== PAGE LAYOUT ==========-->
<!-- Our Exceptional Solutions -->
    <div class="container content-lg" style="padding-top:30px;padding-bottom:20px;">
        <div class="row">
                <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <h3 class="color-red text-center" style="margin-bottom:0;">
                    @DSL.Resources.Resource.Train1SectionTitle1 </h3><hr /></div>
                       <div class="col-md-12 margin-b-30">
                          <div class="center  text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                              <div class="col-md-10 col-md-offset-1">
                                  <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: center; font-size: 16px;">
                                      @DSL.Resources.Resource.Train1SectionText1 <span class="color-fx text-center" style="font-size:16px;font-weight:500">@DSL.Resources.Resource.Train1SectionTextBold1</span>@DSL.Resources.Resource.Train1SectionText2 
</p>
                              </div>
                          </div>
    <div class="col-md-2 col-md-offset-2">
        <ul>
            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi1
                </span>
            </li>

            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi2
                </span>
            </li>

            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi3
                </span>
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi4
                </span>
            </li>

            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi5
                </span>
            </li>

            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi6
                </span>
            </li>

        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi7
                </span>
            </li>

            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi8
                </span>
            </li>

            <li style="color:red;margin:5px 0">
                <span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train1SectionTextLi9
                </span>
            </li>
        </ul>
    </div>
    
        </div>
    </div>
</div>
        <!-- Parallax -->

<div class="container margin-b-30">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h3 class="color-red text-center" style="margin-bottom:0;">
                @DSL.Resources.Resource.Train2SectionTitle1
                </h3><hr />
            </div>
            <div class="center  text-left wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                  @DSL.Resources.Resource.Train2SectionSubtitle1
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                  @DSL.Resources.Resource.Train2SectionText1
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                  @DSL.Resources.Resource.Train2SectionSubtitle2
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                  @DSL.Resources.Resource.Train2SectionText2
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                 @DSL.Resources.Resource.Train2SectionSubtitle3
                </p>
                <ul>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train2SectionTextLi1</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">
                    @DSL.Resources.Resource.Train2SectionTextLi2 </span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">
                     @DSL.Resources.Resource.Train2SectionTextLi3 </span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">
                     @DSL.Resources.Resource.Train2SectionTextLi4 </span></li>
                </ul>
              </div>
            <div class="center text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;margin-top:30px;">
                <img src="~/Images/slider-rope-access-training-1140x430.jpg" class="img-responsive"style="margin:auto" />
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 margin-b-30">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h3 class="color-red text-center" style="margin-bottom:0;">
                    @DSL.Resources.Resource.Train3SectionTitle</h3><hr />
            </div>
            <div class="center  text-left wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                    @DSL.Resources.Resource.Train2SectionSubtitle1
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                    @DSL.Resources.Resource.Train3SectionText1
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                    @DSL.Resources.Resource.Train2SectionSubtitle2
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                    <ul>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">
                                                   @DSL.Resources.Resource.Train3SectionText2</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">
                                                   @DSL.Resources.Resource.Train3SectionText3</span></li>
                    </ul>
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                    @DSL.Resources.Resource.Train2SectionSubtitle3
                </p>
                <ul>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi1</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi2</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi3</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi4</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi5</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi6</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi7</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi8</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi9</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi10</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi11</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi12</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train3SectionTextLi13</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h3 class="color-red text-center" style="margin-bottom:0;">
                @DSL.Resources.Resource.Train4SectionTitle</h3><hr />
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center  text-left wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                    @DSL.Resources.Resource.Train2SectionSubtitle1
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                    @DSL.Resources.Resource.Train4SectionText1
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                    @DSL.Resources.Resource.Train2SectionSubtitle2
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                    <ul>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li1</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li2</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li3</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li4</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li5</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li6</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li7</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText2Li8</span></li>
                    </ul>
                </p>
                <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                    @DSL.Resources.Resource.Train2SectionSubtitle3
                </p>
                <ul>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText3Li1</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText3Li2</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText3Li3</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText3Li4</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText3Li5</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText3Li6</span></li>
                    <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train4SectionText3Li7</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 margin-b-30">
            <img class="img-responsive" src="~/Images/970x970/Height.jpg" />
        </div>
    </div>
    <div class="row margin-b-10">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h3 class="color-red text-center" style="margin-bottom:0;">
                @DSL.Resources.Resource.Train1SectionTextLi6</h3><hr />
            </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="img-responsive" src="~/Images/970x970/Space.jpg" />
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="center  text-left wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                        @DSL.Resources.Resource.Train2SectionSubtitle1
                    </p>
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                        @DSL.Resources.Resource.Train5SectionText
                    </p>
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                       @DSL.Resources.Resource.Train2SectionSubtitle2
                    </p>
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                        <ul>
                            <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText1Li1</span></li>
                            <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText1Li2</span></li>
                            <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText1Li3</span></li>
                            <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText1Li4</span></li>
                            <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText1Li5</span></li>
                        </ul>
                    </p>
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                        @DSL.Resources.Resource.Train2SectionSubtitle3
                    </p>
                    <ul>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText2Li1 </span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText2Li2</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText2Li3</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText2Li4</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText2Li5</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train5SectionText2Li6</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:30px;">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h3 class="color-red text-center" style="margin-bottom:0;">
                @DSL.Resources.Resource.Train6SectionTitle</h3><hr />
            </div>
            <div class="center  text-left wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                        @DSL.Resources.Resource.Train2SectionSubtitle1
                    </p>
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                        @DSL.Resources.Resource.Train6SectionText
                    </p>
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                        @DSL.Resources.Resource.Train2SectionSubtitle2
                    </p>
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 16px;">
                        <ul>

                            <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText1Li1</span></li>
                            <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText1Li2</span></li>
                        </ul>
                    </p>
                </div><div class="col-md-8 col-sm-8 col-xs-12">
                    <p style="color:#000;visibility: visible; animation-name: fadeInDown; text-align: left; font-size: 18px;font-weight:bold">
                       @DSL.Resources.Resource.Train2SectionSubtitle3
                    </p>
                    <ul>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li1</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li2</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li3</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li4</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li5</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li6</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li7</span></li>
                        <li style="color:red;"><span style="font-size:15px;color:#585858;">@DSL.Resources.Resource.Train6SectionText2Li8</span></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h3 class="color-red text-center" style="margin-top:15px;">@DSL.Resources.Resource.TrainContactSectionTitle</h3>
            <hr>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <div class="wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h3 class="color-red"><span class="text-uppercase margin-l-20 span-fx color-blue" style="font-size:16px!important;font-weight:500!important;">
                @DSL.Resources.Resource.TrainContactSectionName1</span></h3>
            <p style="text-indent:0;"></p>
            <ul class="list-unstyled contact-list">
                <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="tel:+77122763747" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-phone" style="font-size: 18px;"></i> &nbsp;+7(7122)76-37-47 ext. 123</a></li>
                <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="tel:+77010591716" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-mobile-phone" style="font-size: 22px;"></i> &nbsp;  +7-701-059-17-16</a></li>
                <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="mailto:Venera.Khaidarova@dslcaspian.com" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-envelope" style="font-size: 16px;"></i>&nbsp;  Venera.Khaidarova@dslcaspian.com </a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-10">
        <div class="wow fadeInUp animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h3 class="color-red"><span class="text-uppercase margin-l-20 span-fx color-blue" style="font-size:16px!important;font-weight:500!important;">
                @DSL.Resources.Resource.TrainContactSectionName2</span></h3>
            <p style="text-indent:0;"></p>
            <ul class="list-unstyled contact-list">
                <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="tel:+77122763747" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-phone" style="font-size: 18px;"></i> &nbsp;+7(7122)76-37-47 ext. 123</a></li>
                <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="tel:+77010570945" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-mobile-phone" style="font-size: 22px;"></i> &nbsp;  +7-701-057-09-45</a></li>
                <li class="footer-list-item" style="font-size:16px;margin-bottom:4px;"><a href="mailto:Shynar.Zhandarbek@dslcaspian.com" class="footer-list-link fweight-300" style="font-size:16px;"><i class="fa fa-envelope" style="font-size: 16px;"></i>&nbsp;  Shynar.Zhandarbek@dslcaspian.com </a></li>
            </ul>
        </div>
    </div>
</div>
    <!-- Our Exceptional Solutions -->

    <!-- End Our Exceptional Solutions -->
    <!-- Clients -->
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <!-- Swiper Clients -->
            <div class="swiper-slider swiper-clients">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/01.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/02.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/04.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/05.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/06.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/07.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/08.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/09.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/10.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/11.png" alt="Clients Logo">
                    </div>
                </div>
                <!-- End Swiper Wrapper -->
            </div>
            <!-- End Swiper Clients -->
        </div>
    </div>
    <!-- End Clients -->

